/* Careers page */

.tier1-left{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tier1-left h1{
    width: 618px;
    height: 216px;
}
.servecis-p2{
    width: 171px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 27px;
    font-weight: 600;
    font: 16px;
    line-height: 106.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.tier1-right{
    width: 616px;
    height: 650px;
    background:url(./careers-img/post1.png);
}
.servecis-tier1{
    display: flex;
    justify-content: space-between;
    margin-top: 171px;
    margin-bottom: 90px;
}
.intier1{
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius:20px 0 0 20px;
}
/* tier2  */

.tier2-left{
    width: 620px;
    height: 550px;
    background: url(./careers-img/post2.png);
    position: relative;
}
.servecis-tier2{
    display: flex;
    justify-content: space-between;
}
.tier2-p{
    width: 510px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.tier2-p1{
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0;
}
.tier2-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intier2{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius:20px;
    position: absolute;
    top: 25%;
    left: -7.5%;
}
                                        /* tier3 */
.servecis-tier3{
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
}
.tier3-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tier3-right{
    width: 620px;
    height: 550px;
    background: url(./careers-img/post3.png);
    border-radius: 20px;
    position: relative;
}
.intier3{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius:20px;
    position: absolute;
    top: 50%;
    right: -7.5%;
}
                                    /* tier4 */
.tier4-left{
    width: 620px;
    height: 550px;
    background: url(./careers-img/post4.png);
    position: relative;
}
.tier4-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intier4{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius:20px;
    position: absolute;
    top: 40%;
    left: -7.5%;
}
                                        /* tier5 */
.tier5-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tier5-right{
    width: 620px;
    height: 550px;
    background: url(./careers-img/post5.png);
    border-radius: 20px;
    position: relative;
}
.intier5{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius:20px;
    position: absolute;
    top: 50%;
    right: -7.5%;
}
                                        /* tier6 */

.tier6-left{
    width: 620px;
    height: 550px;
    background: url(./careers-img/post6.png);
    position: relative;
}
.tier6-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.intier6{
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius:20px;
    position: absolute;
    top: 60%;
    left: -7.5%;
}
                                             /* row7 */

.row7{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
}

.row7left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.row7left h2{
    width: 550px;
    height: 112px;
    color: #0D1317;
}
.inrow7{
    width: 560px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.inrow7{
    width: 50%;
    display: flex;
    align-items: center;
}
#chikelu{
    width: 150px;
    height: 41px;
    font-weight: 500;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
    margin: 0;
    margin-left: 15px;
}
#ceo{
    width: 135px;
    height: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
    margin: 0;
    margin-left: 15px;
    color: #F58A07;
}
.row7right{
    width: 50%;
    height: 501px;
    background: url(./images/video-image.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding: 4%;
}
.play{
    width: 51px;
    height: 51px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#playvideo{
    width: 120px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;
}
      